body{
  background-color: rgb(78, 185, 171);
  text-align: center;
}
div{
  border-style: dashed;
  border-width: 2px;
  background-color: rgb(188, 160, 224);
  width: 50px;
  height: 20px;
}


button{
  border: rgb(43, 78, 194);
  border-width: 5px;
  border-style: solid;
  border-radius: 15%;
  color: rgb(139, 255, 135);
  padding: 15px 32px;
  text-align: center;
  text-decoration: double;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(64, 163, 255);
  font-style: oblique;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
button{
  transition-duration: 0.5s;
}