#All{
  transform: matrix3d(2,2,6,2,1,5,3,2,1,7,1,1,5,4,8,6,);
  transition-duration: 4000ms;
  width: 50px;
  background-color: rgb(59, 12, 102);
  color: rgb(233, 206, 147);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#allxmove{
  transform: translateX(250px);
  transition-duration: 5000ms;
  width: 68px;
  background-color: rgb(133, 62, 201);
  color: rgb(193, 241, 233);
  border-color: rgb(193, 241, 233);
}
#allymove{
transform: translateY(150px);
transition-duration: 3000ms;
width: 95px;
height: 34px;
background-color: rgb(88, 166, 185);
color: rgb(238, 199, 90);
border-color: white;
}

#allzmove{
transform: translateZ(3500px);
transition-duration: 6000ms;
}
#allmove{
  transform: translate3d(42, -61, -137);
  transition-duration: 4000ms;
  width: 95px;
height: 62;
background-color: rgb(68, 72, 73);
color: rgb(235, 255, 56);
border-color: white;
}

#threeDscale{
  transform: scale3d(8, 5, 7);
  transition-duration: 7000ms;
  border-style: groove;
  border-color: rgb(38, 238, 171);
  color:rgb(38, 238, 171);
  background-color: rgb(118, 70, 163);
  opacity: .6;
  width: 40px;
  float: right;
}
#xscale{
  transform: scaleX(.5);
  transition-duration: 4500ms;
  width: 78px;
background-color: rgb(52, 156, 182);
color: rgb(71, 165, 157);
border-color: rgb(139, 25, 25);
}

.yscale{
  transform: scaleY(4);
  transition-duration: 2500ms;
  width: 38px;
height: 16px;
background-color: rgb(86, 158, 53);
color: rgb(136, 52, 136);
border-color: rgb(21, 75, 146);
}
.zscale{
transform: scaleZ(3);
transition-duration: 4500;
width: 47px;
background-color: rgb(34, 61, 151);
color: rgb(173, 114, 180);
border-color: rgb(141, 29, 29);
}
.allrotate{
transform: rotate3d(135deg, 210deg, 86deg);
transition-duration: 5000ms;
width: 95px;
background-color: rgb(107, 63, 12);
color: rgb(168, 182, 48);
border-color: rgb(51, 49, 49);
}
