body {
background-color: rgb(36, 37, 37);
font-family: 'Courier New', Courier, monospace;
}
h1.AvaiableMovie{
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    border: 10px solid rgb(68, 227, 255);
    color: white;
    background-color: rgb(71, 80, 100);
    
}

h1.Title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    border: 10px solid rgb(68, 227, 255);
    color: white;
    background-color: rgb(71, 80, 100);
}


div.HomeCopyrightLink {
border: 5px solid rgb(68, 227, 255);
color: white;
background-color: rgb(71, 80, 100);
width: 250px;
text-align: center;
clear: both;
}

div.PageCopyrightLink {
border: 5px solid rgb(68, 227, 255);
color: white;
background-color: rgb(71, 80, 100);
width: 250px;
}
a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(138, 190, 236);
  text-decoration: none;
}

a:visited {
  color: rgb(233, 132, 233);
  text-decoration: none;
}

div.gallery {
  margin: 20px;
  border: 5px solid rgb(68, 227, 255);
  float: left;
  width: 30%;
  background-color: rgb(71, 80, 100);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.CenterText {
  padding: 10px;
  text-align: center;
}


.left {
  float: left;
  padding: 5px;

}

h3.SubHeading {
  color: rgb(117, 255, 225);
  text-align: center;
  font-size: 30px;
  text-decoration-line: underline;
}
h3.BottomSubHeading {
  color: rgb(117, 255, 225);
  text-align: left;
  font-size: 30px;
  text-decoration-line: underline;
}
p.Info {
   color: rgb(223, 117, 255);
   text-align: center;
   font-size: 25px;
}
p.BottomInfo {
   color: rgb(223, 117, 255);
   text-align: left;
   font-size: 25px;
}

.circle {
border-radius: 50%;
width: 250px;
height: 250px;
overflow: hidden;
}
.circle:hover, .cirlce:active {
  width: 300px;
  height: 300px;
  
}

h1.CopyrightHeading {
   font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    border: 10px solid rgb(68, 227, 255);
    color: white;
    background-color: rgb(71, 80, 100);
    text-decoration: underline;
}

h2.warning {
  color: white;
  font-size: 70px;
}
div.copyrightlink {
  font-size: 25px;
}
h3.CopyrightSubHeading{
  color: white;
  text-decoration: underline;
  font-size: 50px;
}