body{
  background-color: rgb(78, 185, 171);
  text-align: center;
}

button{
  border: rgb(43, 78, 194);
  border-width: 5px;
  border-style: solid;
  border-radius: 15%;
  color: rgb(139, 255, 135);
  padding: 15px 32px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(64, 163, 255);
  font-style: oblique;
  box-shadow: 0px 10px rgb(0, 117, 226);
}
button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
button{
  transition-duration: 0.3s;
}
button:active{
  box-shadow: 0px 5px rgb(0, 72, 139);
  transform: translateY(5px);
}