*{
  box-sizing: border-box;
}

body{
  background-color: rgb(173, 185, 227);
  margin: 0;
  text-align: center;
  color: rgb(183, 68, 184)
}

.Header{
  background-color: rgb(163, 121, 201);
  padding: 20px;
  text-align: center;
  color: rgb(172, 221, 231)
}

button{
  border: rgb(183, 68, 184);
  border-width: 5px;
  border-style: solid;
  border-radius: 15%;
  color: rgb(183, 68, 184);
  padding: 15px 32px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(172, 221, 231);
  font-style: oblique;
  box-shadow: 0px 10px rgb(163, 121, 201);
}
button:hover{
  background-color: rgb(154, 213, 202); /* Green */
  color: white;
}
button{
  transition-duration: 0.3s;
}
button:active{
  box-shadow: 0px 5px rgb(183, 68, 184);
  transform: translateY(5px);
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgb(154, 213, 202);
  list-style-type: none;
}


/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: rgb(183, 68, 184);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: rgb(163, 121, 201);
  color: black;
}


.column{
  float: left;
  width: 33.33%;
  padding: 15px;
}

/*Clear floats after the colums*/
.row:after{
  content: "";
  display: table;
  clear: both;
}

/*Responsive layout - makes the three columns stack on top of each other instead of next to each other*/
@media screen {
  .Column{
    width: 100%;
    }
}